# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

example/

*.lock

android/key.properties

ios/Runner.app.dSYM.zip
ios/Runner.ipa
ios/fastlane/report.xml
ios/Flutter/flutter_export_environment.sh
android/fastlane/report.xml

gen/
example/ios/Flutter/flutter_export_environment.sh
example/ios/Podfile
